<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-6">
      <div class="input-group">
        <input type="text" class="form-control" [placeholder]="searchPHText" (input)="searchTextChange()" [(ngModel)]="inputSearchValue">
        <div class="input-group-append">
          <!-- <button class="btn btn-outline-secondary" type="button">
            <i class="bi bi-search"></i>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

