<app-navigation-bar [navTitle]="navBarTitle"></app-navigation-bar>
<app-search-bar [searchPHText]="searchPlaceHolderText" (searchValueEmitter)="onSearchValueReceived($event)"></app-search-bar>
<!-- <div class="row mt-4 container-fluid">
  <div class="col-md-2 mt-3" *ngFor="let folder of folders">
    <mat-card style="height: 10rem;" (click)="folderChange(folder)">
      <mat-card-header
        style="display: flex; justify-content: center; align-items: center"
      >
        <mat-card-title><mat-icon style="font-size: 4rem; color: blueviolet;">account_circle</mat-icon></mat-card-title>
        <mat-card-subtitle class="mt-1">{{folderName}}</mat-card-subtitle>
        <mat-card-subtitle><b>{{folder}}</b></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div *ngIf="leftArrowVisibility" class="mt-4 col-md-1">
      <img
        class="left-arrow mr-2"
        style="height: 2rem"
        src="../../../assets/images/left-arrow.png"
        alt="Card image cap"
        (click)="previousFolder()"
      />
    </div>
    <div class="col-md-11 mt-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li
            *ngFor="let folderName of folderPathArray"
            class="breadcrumb-item active"
            aria-current="page"
            (click)="onBreadcrumbItemClick($event)"
          >
            {{ folderName == "Root" ? "HOME" : (folderName | uppercase) }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-2 m-3 card"
      *ngFor="let folder of resultFolders"
      style="cursor: pointer; height: 15rem"
      (click)="folderChange(folder)"
    >
      <div class="text-center">
        <div *ngIf="infoIconVisibility">
          <span (click)="downloadDocument(folder);$event.stopPropagation()">
            <img
              class="left-arrow"
              src="../../../assets/images/download.png"
              alt=""
              style="height: 15px; margin: 5px; z-index: 2"
              [matTooltip]="downloadStatus"
              matTooltipPosition="right"
              matTooltipClass="my-tooltip"
          /></span>
          <span
            ><img
              class="left-arrow"
              src="../../../assets/images/information.png"
              alt=""
              style="height: 20px; margin: 5px"
              [matTooltip]="documentInfo"
              (mouseover)="getDocumentInfo(folder)"
              matTooltipPosition="right"
              matTooltipClass="my-tooltip"
            />
          </span>
          <span
            ><img
              class="left-arrow"
              src="../../../assets/images/id.png"
              alt=""
              style="height: 15px; margin: 5px"
              [matTooltip]="folder.objectId"
              matTooltipPosition="right"
              matTooltipClass="my-tooltip"
              (click)="copyToClipboard(folder.objectId)"
            />
          </span>
          <span
            ><img
              class="left-arrow"
              src="../../../assets/images/delete.png"
              alt=""
              style="height: 15px; margin: 5px"
              matTooltip="Click to delete"
              matTooltipPosition="right"
              matTooltipClass="my-tooltip"
              (click)="deleteDocument(folder.objectId)"
            />
          </span>
          <span
            ><img
              class="left-arrow"
              src="../../../assets/images/pen.png"
              alt=""
              style="height: 15px; margin: 5px"
              matTooltip="Click to rename"
              matTooltipPosition="right"
              matTooltipClass="my-tooltip"
              (click)="openRenameDialog(folder)"
            />
          </span>
        </div>
        <img class="card-img-top mt-0" [src]="path" alt="Card image cap" />
        <div class="card-body text-center p-0">
          <h5 class="card-title custom-size">{{ folderName }}</h5>
          <h5 class="card-text custom-size">
            {{ folder.name }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5" *ngIf="resultFolders?.length === 0"><h1>No Results Found</h1></div>
  <a #downloadLink style="display: none"></a>
  <!-- dialog for rename start -->


  <!-- dialog for rename end -->
</div>
