<app-navigation-bar [navTitle]="navBarTitle"></app-navigation-bar>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Passport">
    <!-- Content for Tab 1 -->
    <app-document-table [docData] = "documentData"></app-document-table>
  </mat-tab>
  <mat-tab label="Visa">
    <!-- Content for Tab 2 -->
    <p>Tab 2 Content</p>
  </mat-tab>
  <mat-tab label="Resident Permit">
    <!-- Content for Tab 3 -->
    <p>Tab 3 Content</p>
  </mat-tab>
</mat-tab-group>

