<!-- <h1 mat-dialog-title>Dialog Title</h1>
<div mat-dialog-content>
  <p>This is the content of the dialog.</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onClose()">Close</button>
</div> -->

<h2 mat-dialog-title>
  Rename Document
</h2>
<div mat-dialog-content>
  <form class="full-width-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Crew ID</mat-label>
      <input matInput placeholder="Enter Crew ID" [(ngModel)]="crewId" name="crewId" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Document Type</mat-label>
      <input matInput placeholder="Enter Document Type" [(ngModel)]="documentType" name="documentType" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Current Name</mat-label>
      <input matInput placeholder="Enter Current Name" [(ngModel)]="currentName" name="currentName" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Name</mat-label>
      <input matInput placeholder="Enter New Name" [(ngModel)]="newName" name="newName">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button (click)="onSave()">Save</button>
</div>

